/.DS_Store
/Templates/.DS_Store
/WhiteFluffy.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/WhiteFluffy.xcodeproj/xcuserdata/duke.xcuserdatad/xcschemes/xcschememanagement.plist
/WhiteFluffy/.DS_Store
/WhiteFluffy.xcodeproj/project.xcworkspace/xcuserdata/duke.xcuserdatad/UserInterfaceState.xcuserstate
/Templates/VipModule.xctemplate/.DS_Store
